.gallery {
    margin: auto;
    margin-top: 32px;
    width: 1128px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}
.gallery-item {
    width: 360px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.gallery-item img {
    width: 100%;
    height: auto;
}

.feedback-form {
  width: 360px;
  padding: 24px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.feedback-form label {
  font-weight: 400;
  display: block; 
  font-size: 16px;
  margin-bottom: 8px;
}


.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical; 
  box-sizing: border-box;
  margin-top: 8px;
}


.feedback-form button[type="submit"] {
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  background-color: #4E75FF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.feedback-form button[type="submit"]:hover {
  background-color: #6C8CFF;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000;
}

.feedback-form input:active,
.feedback-form textarea:active {
  border-color: #423f3f;
}